DOCKER_PROJECT_NAME=projectname

DOCKER_PROJECT_TIMEZONE="Asia/Tehran"

DOCKER_PROJECT_PORT_PREFIX=1108

COMPOSE_PROFILES="mysql,php,phpmyadmin,adminer,nodejs"

DOCKER_PROJECT_MAIL_DOMAIN=domain.com
DOCKER_PROJECT_MAIL_SMTP_HOST=smtp.domain.com
DOCKER_PROJECT_MAIL_SMTP_PORT=587
DOCKER_PROJECT_MAIL_USER=mail@domain.com
DOCKER_PROJECT_MAIL_PASSWORD="password"

DOCKER_PROJECT_TYPE=php
DOCKER_PROJECT_PHP_VERSION=7.1
DOCKER_PROJECT_PHP_MEMORY_LIMIT=4096M
DOCKER_PROJECT_PHP_XDEBUG_REMOTE_HOST=192.168.65.2
DOCKER_PROJECT_PHP_XDEBUG_REMOTE_PORT=9000
DOCKER_PROJECT_PHP_XDEBUG_REMOTE_IDEKEY="PHPSTORM"

DOCKER_PROJECT_NODEJS_VERSION=14

DOCKER_PROJECT_UBUNTU_EXTRA_PACKAGES=""
DOCKER_PROJECT_COMPOSER_EXTRA_GLOBAL_PACKAGES=""
DOCKER_PROJECT_NODEJS_EXTRA_GLOBAL_PACKAGES=""

DOCKER_PROJECT_NODEJS_UBUNTU_EXTRA_PACKAGES=""
DOCKER_PROJECT_NODEJS_NODEJS_EXTRA_GLOBAL_PACKAGES=""
DOCKER_PROJECT_NODEJS_START_CMD="npm run dev"

DOCKER_PROJECT_GIT_USERNAME="Git Name"
DOCKER_PROJECT_GIT_EMAIL="git@domain.com"